# dotenv-linter:off IncorrectDelimiter

# Do not commit your actual .env file to Git! This may contain secrets or other
# private information.

# Enable/disable step debug logging (default: `false`). For local debugging, it
# may be useful to set it to `true`.
ACTIONS_STEP_DEBUG=true

# GitHub Actions inputs should follow `INPUT_<name>` format (case-sensitive).
# Hyphens should not be converted to underscores!
INPUT_MILLISECONDS=2400

# GitHub Actions default environment variables. These are set for every run of a
# workflow and can be used in your actions. Setting the value here will override
# any value set by the local-action tool.
# https://docs.github.com/en/actions/learn-github-actions/variables#default-environment-variables

# Variable reference : https://docs.github.com/en/actions/reference/workflows-and-actions/variables

CI="true"
GITHUB_ACTION="release-drafter" 
GITHUB_ACTION_PATH=""
GITHUB_ACTION_REPOSITORY="toolmantim/release-drafter-test-project"
GITHUB_ACTIONS="false"
GITHUB_ACTOR="toolmantim"
GITHUB_ACTOR_ID="153"
GITHUB_API_URL="https://api.github.com"
GITHUB_BASE_REF="master"
GITHUB_ENV=""
GITHUB_EVENT_NAME="push"
GITHUB_EVENT_PATH="__fixtures__/events/push.json"
GITHUB_GRAPHQL_URL="https://api.github.com/graphql"
GITHUB_HEAD_REF=""
GITHUB_JOB="release_drafter_job"
GITHUB_OUTPUT=""
GITHUB_PATH=""
GITHUB_REF="refs/heads/master"
GITHUB_REF_NAME="master"
GITHUB_REF_PROTECTED="true"
GITHUB_REF_TYPE="branch"
GITHUB_REPOSITORY="toolmantim/release-drafter-test-project"
GITHUB_REPOSITORY_ID="133810100"
GITHUB_REPOSITORY_OWNER="toolmantim"
GITHUB_REPOSITORY_OWNER_ID="153"
GITHUB_RETENTION_DAYS=""
GITHUB_RUN_ATTEMPT="1"
GITHUB_RUN_ID="1658821493"
GITHUB_RUN_NUMBER="1"
GITHUB_SERVER_URL="https://github.com"
GITHUB_SHA="1496a1f82f32f240f7cbe1a42eb0b0c7a06a5093"
GITHUB_STEP_SUMMARY=""
GITHUB_TRIGGERING_ACTOR="toolmantim"
GITHUB_WORKFLOW="Release Drafter Workflow"
GITHUB_WORKFLOW_REF="toolmantim/release-drafter-test-project/.github/workflows/my-workflow.yml@refs/heads/my_branch"
GITHUB_WORKFLOW_SHA="aa80724a5d394e0cadaeb0488c488fe21922d6ff"
GITHUB_WORKSPACE="."
RUNNER_ARCH=""
RUNNER_DEBUG="1"
RUNNER_NAME=""
RUNNER_OS="Linux"
RUNNER_TEMP=""
RUNNER_TOOL_CACHE=""
