node_modules
npm-debug.log
*.pem
.env
coverage
now.json
docker-compose-logs
package-lock.json
dist/static/
dist/views/

# OS
.DS_Store

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
