node_modules
*.log
*.pem
.env
.envrc
.run/
coverage/
now.json
docker-compose-logs
package-lock.json
yarn.lock
.pnpm-store/

# TypeScript dist/lib
lib/
dist/

# We use the dist folder for running the GitHub action
!packages/action/dist

# TypeScript
*.tsbuildinfo

# OS
.DS_Store

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
