name: Lint

on: pull_request

jobs:
  ESLint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '13'
      - run: yarn --frozen-lockfile --ignore-engines --ignore-optional --no-bin-links --non-interactive --silent --ignore-scripts --production=false
        env:
          HUSKY_SKIP_INSTALL: true
      - uses: a-b-r-o-w-n/eslint-action@v2.1.0
        with:
          repo-token: ${{secrets.GITHUB_TOKEN}}
