name: Release

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  id-token: write
  contents: write

env:
  HUSKY: '0'

jobs:
  build:
    if: github.repository == 'release-drafter/release-drafter'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: ./.github/actions/common-setup
      - name: test
        run: npm run test
      - run: npm run lint --fix
      - run: npm run prettier
      - run: npm run build
      - name: correct vercel/ncc crlf output
        run: sed -i 's/\x0D$//' ./dist/index.js
      - name: check for unstaged files
        if: ${{ github.actor != 'dependabot[bot]' }}
        run: .github/no-unstaged-files.sh

      # Publishes to npmjs, using package.json's version
      - name: publish
        run: npm publish
